* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

header {
	position: fixed;
	height: 53px;
	width: 100%;
}

.darktheme {
	background-color: #274763;
	padding: 7px;
}

.greentheme {
	background-color: rgb(54, 156, 54);
	padding: 7px;
}

.botavatar {
	img {
		border-radius: 100%;
		height: 50px;
		float: left;
	}
}

.botdetails {
	float: left;
	h3,p {
		color: white;
		height: 22px;
		margin: 0px 0px 1px 8px;
	}
	p{
		padding-top: 3px;
		font-size: 11px;
	}
}

.menu {
	img {
		padding-top: 4px;
		float: right;
		cursor: pointer;
	}
	.menucontent {
		display: none;
		position: absolute;
		top: 40px;
		right: 20px;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		p {
			color: black;
			padding: 12px 16px;
			display: block;
			cursor: pointer;
			&:hover {
				background-color: #ddd;
			}
		}
	}
	.show {
		display: block;
	}
}

section {
	overflow: auto;
	height: 100%;
	width: 100%;
	background-image: url("../img/bgpattern2.jpg");
	background-size: cover;
	padding-bottom: 60px;
	padding-top: 55px;
	.chats {
		.messagediv {
			.chatmessage {
				margin: 5px;
				padding: 1px 9px 1px 9px;
				border: 1px solid #686963;
				background-color: #686963;
				color: white;
				float: right;
				border-radius: 10px;
				max-width: 45%;
				width: auto;
			}
			.after-chatmessage {
				clear: both;
			}
		}
		.messagediv {
			width: 100%;
			.botmessage {
				margin: 5px;
				padding: 1px 9px 1px 9px;
				border: 1px solid #8AA29E;
				background-color: #8AA29E;
				color: white;
				float: left;
				border-radius: 10px;
				max-width: 45%;
				width: auto;
			}
			.after-botmessage {
				clear: both;
			}
		}
	}
}

footer {
	position: absolute;
	.chatinput {
		position: fixed;
		bottom: 0;
		background-color: #C0BCB5;
		width: 104%;
		height: 60px;
		padding: 2px 0px 2px 2px;
		display: inline-block;
		text-align: center;
		input {
			width: 86vw;
			height: 40px;
			padding: 10px;
			border: none;
			border-radius: 5px;
			background-color: #ECEBE4;
			&:focus {
				outline-style: none;
			}
			&[type=submit] {
				background: url("../img/send32.png");
				margin-top: 13px;
				margin-left: 1px;
				background-repeat: no-repeat;
				width: 10vw;
				padding-top: 1px;
			}
		}
	}
}